[access "refs/*"]
        owner = group android_device_oneplus_fajita
                label-Verified = -1..+1 group android_device_oneplus_fajita
	push = +force group android_device_oneplus_fajita
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
